openapi: 3.0.3
info:
  title: Walias API
  description: API for managing walias and pubkey data.
  version: 1.0.0
servers:
  - url: https://api.walias.io
paths:
  /pubkey/{pubkey}:
    get:
      summary: Get Pubkey Data
      description: Fetches the details (names and relays) associated with a given public key.
      parameters:
        - name: pubkey
          in: path
          required: true
          schema:
            type: string
            description: The public key to retrieve data for.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PubkeyDataResponse"
    put:
      summary: Set Pubkey Relays
      description: Update relay list for the pubkey.
      security:
        - nostrAuth: []
      parameters:
        - name: pubkey
          in: path
          required: true
          schema:
            type: string
            description: The public key to update.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetPubkeyRelaysRequest"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PubkeyDataResponse"
        "400":
          description: Invalid pubkey
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Invalid authentication
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /walias/{name}:
    get:
      summary: Get Walias Public Data
      description: Checks if a walias name is available or already registered. If registered, returns the associated pubkey.
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
            description: The walias name to check.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/AvailableWaliasResponse"
                  - $ref: "#/components/schemas/UnavailableWaliasResponse"
    post:
      summary: Register Walias
      description: Registers a new walias to the given pubkey.
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
            description: The walias name to register.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterWaliasRequest"
      responses:
        "201":
          description: Walias Registered
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegisterWaliasResponse"
        "400":
          description: Invalid Input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorReasonResponse"
        "409":
          description: Already taken or not available
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorReasonResponse"
    put:
      summary: Transfer Walias
      description: Transfers the walias ownership to a new pubkey.
      security:
        - nostrAuth: []
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
            description: The walias name to transfer.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TransferWaliasRequest"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "400":
          description: Invalid pubkey
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Invalid authentication
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    delete:
      summary: Delete Walias
      description: Deletes an existing walias.
      security:
        - nostrAuth: []
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
            description: The walias name to delete.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "404":
          description: Walias not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Invalid authentication
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
components:
  securitySchemes:
    nostrAuth:
      type: http
      scheme: nostr
      description: Nostr-based authentication as per NIP-98.
  schemas:
    PubkeyDataResponse:
      type: object
      properties:
        names:
          type: array
          items:
            type: string
          description: List of walias names associated with the pubkey.
        relays:
          type: array
          items:
            type: string
            format: uri
          description: List of relay URLs.
    SetPubkeyRelaysRequest:
      type: object
      required:
        - relays
      properties:
        relays:
          type: array
          items:
            type: string
            format: uri
          description: List of relay URLs to set.
    AvailableWaliasResponse:
      type: object
      properties:
        available:
          type: boolean
          enum: [true]
        quote:
          $ref: "#/components/schemas/Quote"
    UnavailableWaliasResponse:
      type: object
      properties:
        available:
          type: boolean
          enum: [false]
        pubkey:
          type: string
          description: The pubkey associated with the walias.
    Quote:
      type: object
      properties:
        price:
          type: integer
          description: Price in smallest currency unit.
        data:
          type: object
          properties:
            type:
              type: string
    RegisterWaliasRequest:
      type: object
      required:
        - pubkey
      properties:
        pubkey:
          type: string
          description: The pubkey to associate with the walias.
    RegisterWaliasResponse:
      type: object
      properties:
        walias:
          type: string
          description: The registered walias in the format `name@domain`.
        invoice:
          type: string
          description: Payment invoice.
        referenceId:
          type: string
          description: Reference ID for the zapReceipt to be published.
        relays:
          type: array
          items:
            type: string
            format: uri
          description: Relays where zapReceipt will be published.
        verify:
          type: string
          format: uri
          description: Verification URL.
    TransferWaliasRequest:
      type: object
      required:
        - pubkey
      properties:
        pubkey:
          type: string
          description: The new pubkey to transfer the walias to.
    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          enum: [true]
    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          enum: [false]
        reason:
          type: string
          description: Description of the error.
    ErrorReasonResponse:
      type: object
      properties:
        reason:
          type: string
          description: Description of the error.
